<%- include('../header') -%>

<h1>Edificio</h1>

<div id="edificio">

  <li>
    <a href="/comunita_studenti">comunita_studenti</a>
  </li>
  <li>
    <a href="/home">Home</a>
  </li>
  <li>
    <a href="/universita">Università</a>
  </li>
</div>

<%- include('../footer') -%>
