<%- include('../header') -%>

<div style="position:fixed; background-color: #B10B25; width:100%; height: 20%; top:0px; left:0px; z-index: 1;">
  <img src="/images/univents_logo/univents_vents_logo.png" width="150" height="150"  alt="univents_logo"
  style="position:absolute; left:2.5%">
 <div style="width:100%; height:200px; text-align: center; display:table;">
   <font face="Helvetica Neue" color="white" style="display:table-cell; font-size:60px;  vertical-align: middle;">
     Università
   </font>
 </div>

 <a href="/impostazioni" style="text-decoration:none; position:fixed; right:2%; top:100px;">
   <font face="Helvetica neue" size="5" color=white >
     Impostazioni
   </font>
 </a>
</div>

<div class="left_menu">
  <br><br><br><br><br><br><br><br><br>
  <td>
    <a href="/home" style="text-decoration: none;">
      <font face="Helvetica" size="5" color=black>
        Home<br>
      </font>
    </a>
  </td>
  
  <hr color="white" style="margin-top: 3em; margin-bottom: 3em; margin-left: 20px; margin-right: 20px;">
  
  <td>
    <a href="/comunita_studenti" style="text-decoration:none">
      <font face="Helvetica" size="5" color=black>
        Comunità Studenti<br>
      </font>
    </a>
  </td>
  
  <hr color="white" style="margin-top: 3em; margin-bottom: 3em; margin-left: 20px; margin-right: 20px;">
  
  <td>
    <a href="/universita" style="text-decoration:none">
      <font face="Helvetica" size="5" color=black>
        Università
      </font>
    </a>
  </td>

</div>

  <template>
    <ul>
      <li id="fav" class="empty-star" onclick="highlight(this)" style="position:relative;left:30px;">★</li>
      <li class='far fa-comment' onclick="commenti(this)" style='font-size:25px; float:right;position:relative; top:9px; left:30px;'></li>
    </ul>
    <div class="eventbox" onclick="set_info_box(this);" name="" place="" date="" time="" info=""></div>    
  </template>


<div class="puppet" id="puppet"></div>

<div class="dropdown">
  <button class="dropbtn">Seleziona edificio</button>
  <div class="dropdown-content">
    <a href="javascript:ottieni('economia')">Economia</a>
    <a href="javascript:ottieni('giurisprudenza')">Giurisprudenza</a>
    <a href="javascript:ottieni('lettere')">Lettere</a>
    <a href="javascript:ottieni('medicina')">Medicina</a>
    <a href="javascript:ottieni('mesiano')">Mesiano</a>
    <a href="javascript:ottieni('povo')">Povo</a>
    <a href="javascript:ottieni('sociologia')">Sociologia</a>
  </div>
</div>

<table id="evento" class="infobox" border="0" align="left"
    cellpadding="0" cellspacing="0" bgcolor="#cccccc" >
      <tr>
        <td>
          <table border="0" cellpadding="15"  
            <tr>
              <td width="60%">

                <font id="info_nome" face="Helvetica" size="4"
                color="black">
                NOME:
                </font>

                <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">
                
                <font id="info_dove" face="Helvetica" size="4"
                color="black">
                DOVE:
                </font>

                <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">

                <font id="info_quando" face="Helvetica" size="4"
                color="black">
                QUANDO:
                </font>

                <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">
                
                <font id="info_info" face="Helvetica" size="4"
                color="black">
                INFO:
                </font>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table id="filtro" table border=1 frame=hsides rules=rows style="position:fixed;
    top:38%; right:2%; border: 1px solid #dddddd; width:18% ">
      <tr>
        <th colspan="5">Filtra eventi per:</th>
      </tr>
      <tr>
        <td id="seleziona_filtro_nome" class="filtro_selezione" style="width:50%;" onclick="show_filtro_nome()">Nome</td>
        <td id="seleziona_filtro_data" class="filtro_selezione" style="width:50%;" onclick="show_filtro_data()">Data</td>
      </tr>
      <tr id="filtro_nome_row" style="width:100%; display:none;">
        <td colspan="2">
            <p style="text-align:center;">Inserisci il nome dell'evento</p>
            <input type="text" id="input_nome" name="input_nome" style="width:100%;">
        </td>
      </tr>
      <tr id="filtro_data_row" style="width:100%; display:none;text-align:left;">
        <td colspan="2">
          <p>Inserisci la data dell'evento</p>
          <input type="date" id="filtro_data" max="2030-12-31" style="align-self: center;">
        </td>
      </tr>
    </table>
    <button class="button" id="filtra_per_nome" style="display:none; position:fixed; bottom:35%; right:6%; width:10%;">filtra per nome</button>
    <button class="button" id="filtra_per_data" style="display:none; position:fixed; bottom:35%; right:6%; width:10%;">filtra per data</button>    


    
<ul style="bottom: 100px; right: 100px; position:fixed">
  <button onclick="goto_home()" style="width:12%; align-content: center; position:fixed; right: 5%; ">Home</button><br><br>
  <button onclick="goto_comunita_studenti()" style="width:12%; align-content: center; position:fixed; right: 5%; ">Comunita studenti</button>
</ul>


<script>

  function ottieni(edificio){
    var i,item,clone2;
    //elimina eventi gia sul diplay
    var e=document.getElementById("puppet");
    var child = e.lastElementChild; 
    while (child) {
        e.removeChild(child);
        child = e.lastElementChild;
    }
    for(i=0;i<10;i++){
      console.log(i);
      item = document.getElementsByTagName("template")[0].content;
      clone = document.importNode(item,true);
      var body=clone.querySelector("div");
      body.textContent+="Evento "+edificio+" "+i; //TODO: CONNECT TO DB API AND RETRIEVE EVENTS
      document.getElementById("puppet").appendChild(clone);
    }
  }
  
  function goto_home(){
        location.assign('http://localhost:3000/home');
      }

  function goto_comunita_studenti(){
    location.assign('http://localhost:3000/comunita_studenti');
  }
  function show_filtro_nome(){
    document.getElementById("seleziona_filtro_nome").style.backgroundColor="#dddddd";
    document.getElementById("seleziona_filtro_data").style.backgroundColor="white";
    document.getElementById("filtro_data_row").style.display="none";
    document.getElementById("filtra_per_data").style.display="none";
    document.getElementById("filtro_nome_row").style.display="table-row";
    document.getElementById("filtra_per_nome").style.display="block";
  }

  function show_filtro_data(){
    document.getElementById("seleziona_filtro_data").style.backgroundColor="#dddddd";
    document.getElementById("seleziona_filtro_nome").style.backgroundColor="white";
    document.getElementById("filtro_nome_row").style.display="none";
    document.getElementById("filtra_per_nome").style.display="none"
    document.getElementById("filtro_data_row").style.display="table-row";
    document.getElementById("filtra_per_data").style.display="block";

  }

  function highlight(value){
    value.classList.toggle("selected");
    //TODO:CONNECT TO DB AND SET FAVOURITE
  }

</script>


<%- include('../footer') -%>
