<%- include('../header') -%>

<table id="header" border="0" width="100%"
		cellpadding="0" cellspacing="0" bgcolor="#b10b25" style="position:fixed; z-index: 1; top:0; left:0;">
		<tr>
			<td>
				<table border="0" cellpadding="15" cellspacing="0" width="100%" align="left">
					<tr>	
						<td>
              <img src="/images/sigillo_universita/ti_200x200.png" width="100" height="100"  alt="univents_logo">
							<font face="Helvetica Neue" size="6" position="center" color="white">
                	<b>Univents</b> <br>
                  <b>Università</b>
							</font>
						</td>	
            <td>
							<a href="/impostazioni" style="text-decoration:none; float:right;">
								<font face="Helvetica neue" size="5" color=white >
									Impostazioni
								</font>
							</a>
						</td>					
					</tr>
				</table>
			</td>
		</tr>
	</table>

<style>
  .dropbtn {
    background-color: #f75454;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: fixed;
    display: inline-block;
    top:30%;
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #a30000;}

  .div{
      height: 50px;
      width: 500px;
      background-color: #f0d6d6;
      border: 5px solid red;
      border-radius: 20px;
      padding: 20px;
      text-align: center;
      margin: 10px;
    }
  .puppet{
      height: 0px;
      width: 500px;
      top: 150px;
      left: 40%; 
      position: relative;
    }

</style>

<template>
  <div class="eventbox"></div>
</template>

<template>
  <div class="infobox" onclick="set_info_box(this);" name="" place="" date="" time="" info=""></div>
</template>

<div class="puppet" id="puppet"></div>

<div class="dropdown">
  <button class="dropbtn">Seleziona edificio</button>
  <div class="dropdown-content">
    <a href="javascript:ottieni('economia')">Economia</a>
    <a href="javascript:ottieni('giurisprudenza')">Giurisprudenza</a>
    <a href="javascript:ottieni('lettere')">Lettere</a>
    <a href="javascript:ottieni('medicina')">Medicina</a>
    <a href="javascript:ottieni('mesiano')">Mesiano</a>
    <a href="javascript:ottieni('povo')">Povo</a>
    <a href="javascript:ottieni('sociologia')">Sociologia</a>
  </div>
</div>

<table id="evento" border="0" width="30%" align="left"
    cellpadding="0" cellspacing="0" bgcolor="#cccccc" style="top: 38%; position:fixed; z-index: -1;">
      <tr>
        <td>
          <table border="0" cellpadding="15"  
            <tr>
              <td width="60%">

                <font id="info_nome" face="Helvetica" size="4"
                color="black">
                NOME:
                </font>

                <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">
                
                <font id="info_dove" face="Helvetica" size="4"
                color="black">
                DOVE:
                </font>

                <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">

                <font id="info_quando" face="Helvetica" size="4"
                color="black">
                QUANDO:
                </font>

                <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">
                
                <font id="info_info" face="Helvetica" size="4"
                color="black">
                INFO:
                </font>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table id="filtro" table border=1 frame=hsides rules=rows style="position:fixed;
    top:38%; right:2%; border: 1px solid #dddddd; width:18% ">
      <tr>
        <th colspan="5">Filtra eventi per:</th>
      </tr>
      <tr>
        <td class="filtro_selezione" style="width:50%;" onclick="show_filtro_nome()">Nome</td>
        <td class="filtro_selezione" style="width:50%;" onclick="show_filtro_data()">Data</td>
      </tr>
      <tr id="filtro_nome" style="width:100%; display:none;">
        <td colspan="2">
            <p style="text-align:center;">Inserisci il nome dell'evento</p>
            <input type="text" id="input_nome" name="input_nome" style="width:100%;">
        </td>
      </tr>
      <tr id="filtro_data" style="width:100%; display:none;">
        <td colspan="2">
          <p style="text-align:center;">Inserisci la data dell'evento</p>
          <input type="date" id="filtro_data" max="2030-12-31" style="align-self: center;">
        </td>
      </tr>
    </table>
    <button class="button" id="filtra_per_nome" style="display:none; position:fixed; bottom:35%; right:6%; width:10%;">filtra per nome</button>
    <button class="button" id="filtra_per_data" style="display:none; position:fixed; bottom:35%; right:6%; width:10%;">filtra per data</button>    


    
<ul style="bottom: 100px; right: 100px; position:fixed">
  <button onclick="goto_home()" style="width:12%; align-content: center; position:fixed; right: 5%; ">Home</button><br><br>
  <button onclick="goto_comunita_studenti()" style="width:12%; align-content: center; position:fixed; right: 5%; ">Comunita studenti</button>
</ul>


<script>

  function ottieni(edificio){
    var i,item,clone2;
    //elimina eventi gia sul diplay
    var e=document.getElementById("puppet");
    var child = e.lastElementChild; 
    while (child) {
        e.removeChild(child);
        child = e.lastElementChild;
    }
    for(i=0;i<10;i++){
      console.log(i);
      item = document.getElementsByTagName("template")[0].content.querySelector("div");
      clone2 = document.importNode(item,true);
      clone2.textContent+="Evento "+edificio+" "+i; //TODO: CONNECT TO DB API AND RETRIEVE EVENTS
      document.getElementById("puppet").appendChild(clone2);
    }
  }
  
  function goto_home(){
        location.assign('http://localhost:3000/home');
      }

  function goto_comunita_studenti(){
    location.assign('http://localhost:3000/comunita_studenti');
  }
  function show_filtro_data(){
    document.getElementById("filtro_nome").style.display="none";
    document.getElementById("filtra_per_nome").style.display="none"
    document.getElementById("filtro_data").style.display="table-row";
    document.getElementById("filtra_per_data").style.display="block";

  }
  function show_filtro_nome(){
    document.getElementById("filtro_data").style.display="none";
    document.getElementById("filtra_per_data").style.display="none";
    document.getElementById("filtro_nome").style.display="table-row";
    document.getElementById("filtra_per_nome").style.display="block";
  }

</script>


<%- include('../footer') -%>
