<%- include('../header') -%>

<h1>Università</h1>

<style>
  .dropbtn {
    background-color: #f75454;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #a30000;}

  .div{
      height: 50px;
      width: 500px;
      background-color: #f0d6d6;
      border: 5px solid red;
      border-radius: 20px;
      padding: 20px;
      text-align: center;
      margin: 10px;
    }
    .puppet{
      height: 0px;
      width: 500px;
      top: 70px;
      left: 40%; 
      position: absolute;
    }

</style>

<template>
  <div class="div"></div>
</template>

<div class="puppet" id="puppet"></div>

<div class="dropdown">
  <button class="dropbtn">Seleziona edificio</button>
  <div class="dropdown-content">
    <a href="javascript:ottieni('economia')">Economia</a>
    <a href="javascript:ottieni('giurisprudenza')">Giurisprudenza</a>
    <a href="javascript:ottieni('lettere')">Lettere</a>
    <a href="javascript:ottieni('medicina')">Medicina</a>
    <a href="javascript:ottieni('mesiano')">Mesiano</a>
    <a href="javascript:ottieni('povo')">Povo</a>
    <a href="javascript:ottieni('sociologia')">Sociologia</a>
  </div>
</div>

<div id="universita">
  <br><br>
  <li>
    <a href="/home">Home</a>
  </li>
  <li>
    <a href="/comunita_studenti">Comunità Studenti</a>
  </li>
</div>

<script>

  function ottieni(edificio){
    var i,item,clone2;
    //elimina eventi gia sul diplay
    var e=document.getElementById("puppet");
    var child = e.lastElementChild; 
    while (child) {
        e.removeChild(child);
        child = e.lastElementChild;
    }
    for(i=0;i<10;i++){
      console.log(i);
      item = document.getElementsByTagName("template")[0].content.querySelector("div");
      clone2 = document.importNode(item,true);
      clone2.textContent+="Evento "+edificio+" "+i; //TODO: CONNECT TO DB API AND RETRIEVE EVENTS
      document.getElementById("puppet").appendChild(clone2);
    }
  }
  
</script>

<%- include('../footer') -%>
