<%- include('../header') -%>

<h1>Create Events</h1>

<div id="crea_evento">

  <li>
    <a href="/comunita_studente">comunita_studente</a>
  </li>
  <li>
    <a href="/home">Home</a>
  </li>
  <li>
    <a href="/universita">Università</a>
  </li>
</div>

<%- include('../footer') -%>
