<%- include('../header') -%>

<h1>Events</h1>

<div id="comunita_studente">
  <form method="get" action="/comunita_studenti/crea_evento">
    <p>
      <input type="submit" value="crea_evento">
    </p>
  </form>
  <li>
    <a href="/home">Home</a>
  </li>
  <li>
    <a href="/universita">Università</a>
  </li>
</div>

<%- include('../footer') -%>
