<%- include('../header') -%>

<h1>Università</h1>

<div id="universita">
  <form method="get" action="/universita/edificio">
    <p>
      <input type="submit" value="edificio">
    </p>
  </form>
  <li>
    <a href="/home">Home</a>
  </li>
  <li>
    <a href="/comunita_studenti">Comunità Studenti</a>
  </li>
</div>

<%- include('../footer') -%>
