body {
  padding: 50px;
  font: 14px "Helvetica", Helvetica, sans-serif;
}
a {
  color: #00AEFF;
  text-decoration: none;
}
a.edit {
  color: #000;
  opacity: .3;
}
a.edit::before {
  content: ' [';
}
a.edit::after {
  content: ']';
}
dt {
  font-weight: bold;
}
dd {
  margin: 15px;
}

input {
background: #B10B25;
color: white;
border-style: outset;
border-color: #000000;
height: 25pt;
width: 100pt;
font: bold15px arial,sans-serif;
text-shadow: none;
}

input:hover {
background: #90091E;
color: black
border: 1px solid #ccc;
/*border-radius: 20px;
#box-shadow: 5px 5px 5px #eee;*/
text-shadow: none;
}
