<%- include('../header') -%>
<%- include('../background.ejs') -%>
<%- include('../common_functions.ejs') -%>


<div class="puppet" id="puppet"></div>


<div id="comunita_studenti">

  <table id="evento" border="0" align="left"
  cellpadding="0" cellspacing="0" bgcolor="#cccccc"  class="infobox">
  <tr>
      <td>
        <table border="0" cellpadding="15"  
        <tr>
            <td width="60%">

              <font id="info_nome" face="Helvetica" size="4"
              color="black">
              NOME:
              </font>

              <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">

              <font id="info_dove" face="Helvetica" size="4"
              color="black">
              DOVE:
              </font>

              <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">

              <font id="info_quando" face="Helvetica" size="4"
              color="black">
              QUANDO:
              </font>

              <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">

              <font id="info_info" face="Helvetica" size="4"
              color="black">
              INFO:
              </font>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


</div>

<script>
  document.getElementById("page_name").textContent="Sezione Commenti";
  
  //TODO: Ottenere i commenti veri
  document.addEventListener('DOMContentLoaded', function() {

    const id = localStorage.getItem('event_id');
    var url="https://univents-trento.herokuapp.com/api/v2/eventi/"+id;
    var url2="https://univents-trento.herokuapp.com/api/v2/uni/"+id;
    var pr1=fetch(url);
    var pr2=fetch(url2);
    pr1.then(res=>res.json())
    .then(data=>{
      // alert("data:" +data);
      if(data==null){
        pr2.then(res=>res.json())
        .then(data=>{
          a=document.getElementById("info_nome");
          b=document.getElementById("info_dove");
          c=document.getElementById("info_quando");
          d=document.getElementById("info_info");
    
          a.textContent="NOME:\n";
          a.textContent+=data.title;
    
          b.textContent="DOVE:\n";
          b.textContent+=data.building;
    
          c.textContent="QUANDO:\n";
          c.textContent+=data.date_event.slice(0,10)+" alle "+data.date_event.slice(11,16);
    
          d.textContent="INFO:\n";
          d.textContent+=data.info;
        
        })

      }
      else{
        a=document.getElementById("info_nome");
        b=document.getElementById("info_dove");
        c=document.getElementById("info_quando");
        d=document.getElementById("info_info");

        a.textContent="NOME:\n";
        a.textContent+=data.title;

        b.textContent="DOVE:\n";
        b.textContent+=data.place;

        c.textContent="QUANDO:\n";
        c.textContent+=data.date_event.slice(0,10)+" alle "+data.date_event.slice(11,16);

        d.textContent="INFO:\n";
        d.textContent+=data.info;
      }
    })

    var i,item,clone;
    for(i=0;i<10;i++){
      item = document.getElementsByTagName("template")[2].content;
        clone = document.importNode(item,true);
        var body=clone.querySelector("div");

        body.setAttribute('style', 'white-space: break-spaces;');
        body.textContent="creatore"+i+"\n";
        body.textContent+="hey ciao cono il commento ndddddddd dddddddd ddddddddd ddd ddddd ddddddd dd ddd ddumero "+i;
        
        document.getElementById("puppet").appendChild(clone);
    }

    }, false);


</script>
<%- include('../footer') -%>
