<%- include('../header') -%>

<h1>Create Events</h1>

<div id="creazione_accettata">
<p>
    <label>Evento creato con successo</label>
</p>
  <br><br>
  <li>
    <a href="/home">Home</a>
  </li>

</div>

<%- include('../footer') -%>
