<%- include('../header') -%>

<h1>Create Events</h1>

<div id="creazione_rifiutata">
<p>
    <label>L'evento non è stato creato</label><br>
    <label> Motivo: alcuni campi contengono parole vietate</label>
</p>
  <br><br>
  <li>
    <a href="/comunita_studenti/crea_evento">indietro</a>
  </li>

</div>

<%- include('../footer') -%>
