<%- include('../header') -%>

<h1>comunita_studenti</h1>

<div id="comunita_studenti">

  <form method="get" action="/comunita_studenti/crea_evento">
    <p>
      <input type="submit" value="Crea evento">
    </p>
  </form>

  <form method="get" action="/comunita_studenti/visualizza_evento">
    <p>
      <input type="submit" value="Visualizza evento">
    </p>
  </form>

  <li>
    <a href="/home">Home</a>
  </li>
  <li>
    <a href="/universita">Università</a>
  </li>
  <li>
    <a href="/impostazioni">Impostazioni</a>
  </li>
</div>

<%- include('../footer') -%>
