<%- include('../header') -%>
<%- include('../background.ejs') -%>
<%- include('../common_functions.ejs') -%>

<div class="puppet" id="puppet"></div>


<div id="comunita_studenti">
  
  <form method="get" action="/comunita_studenti/crea_evento">
    <p>
      <button class="button" type="submit" style=" position:fixed; left:18%; top:25%;">Crea evento</button>
    </p>
  </form>


  <table id="evento" border="0" align="left"
  cellpadding="0" cellspacing="0" bgcolor="#cccccc"  class="infobox">
  <tr>
      <td>
        <table border="0" cellpadding="15"  
        <tr>
            <td width="60%">

              <font id="info_nome" face="Helvetica" size="4"
              color="black">
              NOME:
              </font>

              <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">

              <font id="info_dove" face="Helvetica" size="4"
              color="black">
              DOVE:
              </font>

              <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">

              <font id="info_quando" face="Helvetica" size="4"
              color="black">
              QUANDO:
              </font>

              <hr color="#b10b25" style="margin-top: 2em; margin-bottom: 2em;">

              <font id="info_info" face="Helvetica" size="4"
              color="black">
              INFO:
              </font>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <table id="filtro" table border=1 frame=hsides rules=rows style="position:fixed;
  top:38%; right:2%; border: 1px solid #dddddd; width:18% ">
    <tr>
      <th colspan="5">Filtra eventi per:</th>
    </tr>
    <tr>
      <td id="seleziona_filtro_nome" class="filtro_selezione" style="width:50%;" onclick="show_filtro_nome()">Nome</td>
      <td id="seleziona_filtro_data" class="filtro_selezione" style="width:50%;" onclick="show_filtro_data()">Data</td>
    </tr>
    <tr id="filtro_nome_row" style="width:100%; display:none;">
      <td colspan="2">
          <p style="text-align:center;">Inserisci il nome dell'evento</p>
          <input type="text" id="filtro_nome" name="input_nome" style="width:100%;">
      </td>
    </tr>
    <tr id="filtro_data_row" style="width:100%; display:none;text-align:left;">
      <td colspan="2">
        <p>Inserisci la data dell'evento</p>
        <input type="date" id="filtro_data" max="2030-12-31" style="align-self: center;">
      </td>
    </tr>
  </table>


  <button class="button" id="filtra_per_nome" onclick="filtra_nome()" style="display:none; position:fixed; bottom:35%; right:6%; width:10%;">filtra per nome</button>
  <button class="button" id="filtra_per_data" onclick="filtra_data()" style="display:none; position:fixed; bottom:35%; right:6%; width:10%;">filtra per data</button>


  <font id="no_events" face="Helvetica" size="4"
    color="black" style="position:fixed; right:25%; top:50%;display:none;">
    Nessun Evento
    </font>


</div>



<script>

  document.getElementById("page_name").textContent="Comunità Studenti";

  document.addEventListener('DOMContentLoaded', function() {
    fetch('http://localhost:3000/api/v1/eventi',{
      method:"GET",
      cache:'no-cache',
      headers:{
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }
    })
      .then((res) =>{
        return res.json()
      } )
      .then((data) => {
        load(data,false);
    })
    }, false);
  
</script>
<%- include('../footer') -%> -->