<%- include('../header') -%>

<h1>Evento</h1>

<div id="visualizza_evento">

  <li>
    <a href="/comunita_studenti">comunita_studenti</a>
  </li>
  <li>
    <a href="/home">Home</a>
  </li>
  <li>
    <a href="/universita">Università</a>
  </li>
  <li>
    <a href="/impostazioni">Impostazioni</a>
  </li>
</div>
<br><br><br>
<!--Event(start)-->
<table id="evento" border="0" width="70%"
cellpadding="0" cellspacing="0" bgcolor="#cccccc">
<tr>
  <td>
    <table border="0" cellpadding="15"
      cellspacing="0" width="80%" align="center">
      <tr>
        <td height="180" align="center"
          valign="middle" colspan="2">
          <font face="Helvetica Neue" size="6"
            color="black">
            INFO EVENTO
          </font>
          <hr color="#b10b25" width="80">
        </td>
      </tr>

      <tr>
        <td width="60%">
          <font face="Helvetica" size="4"
            color="black">
            NOME<br><br>
            Nome evento
            <hr color="#b10b25" >
            INFO<br><br>
            info evento
            <hr color="#b10b25">
            LUOGO<br><br>
            luogo evento
            <hr color="#b10b25">
            QUANDO?<br><br>
            quando succede?
            <hr color="#b10b25">
          </font>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
<!--About(end)-->

<%- include('../footer') -%>
