<%- include('../header') -%>

<style>
    body{
        background-color: #dddddd;
    }
  </style>
  <div style="height: 90%; width:20%;background-color: white; border-radius: 20px; position:absolute; top:-20px; left:15%; text-align: center;">
    <font face="Helvetica Neue" color="#B10B25" style="font-size:60px;">
      <br>
      <b>Univents</b>
    </font>
    <font face="Helvetica Neue" color="black" style="font-size:30px;">
      <br>
      <b>The community <br>for students</b>
    </font>
    <img src="/images/univents_logo/univents_vents_logo.png" width="205" height="220"  alt="univents_logo">
    <br><br><br><br><br>
    <form method="get" action="/login">
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <p id="error" for="button"></p>
            <input class="button" type="button" value="Login" onclick="checkLogin();">
        </p
    </form>
  </div>
  <img src="/images/sigillo_universita/ti_1000x1000.png" height="100%"  alt="univents_logo" 
      style="position:fixed; top:0px; right:0px;">

</form>

<script src="../../public/javascripts/login.js"></script>

<%- include('../footer') -%>
