<%- include('../header') -%>

<h1>Login</h1>

<form method="get" action="/home">
<p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
</p>
<p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
</p>
<p>
    <p id="error" for="button"></p>
    <input type="button" value="Login" onclick="checkEmpty(this);" onclick="checkLogin(this);">
</p>

<script>
// controlla se i campi sono vuoti
function checkEmpty (button) {
    var user = document.getElementById("username").value;
    var pass = document.getElementById("password").value;
    if (user === "" || pass === "") {
        alert("Fill both username and password!");
    } else {
        window.location = "../home";
    }
}
</script>

</form>

<%- include('../footer') -%>
