<%- include('../header') -%>

  <style>
    body {
      background-color: #dddddd;
    }
  </style>
  <div
    style="height: 90%; width:20%;background-color: white; border-radius: 20px; position:absolute; top:-20px; left:15%; text-align: center;">
    <font face="Helvetica Neue" color="#B10B25" style="font-size:60px;">
      <br>
      <b>Univents</b>
    </font>
    <font face="Helvetica Neue" color="black" style="font-size:30px;">
      <br>
      <b>The community <br>for students</b>
    </font>
    <img src="/images/univents_logo/univents_vents_logo.png" width="205" height="220" alt="univents_logo">
    <br><br><br><br>

    <p>Enter credentials</p>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password"><br><br>
    <button class="button" onclick="login()">Login</button>
  </div>
  <img src="/images/sigillo_universita/ti_1000x1000.png" height="100%" alt="univents_logo"
    style="position:fixed; top:0px; right:0px;">

  <script>
    const fs = require("fs");

    //CHIEDIGLI POI DA DOVE VIENE
    // var loggedUser = [{key:"token", value:""},
    //                   {key:"email", value:""},
    //                   {key:"id", value:""}];
    function login() {
      var email = document.getElementById("username").value;
      var password = document.getElementById("password").value;
      localStorage.setItem("password",password);

      fetch('api/v2/authentication', {
        method: "POST",
        cache: 'no-cache',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json',
          // 'user_id': localStorage.getItem("user_id")
        },
        body: JSON.stringify({ email: email, password: password }),
      })
        .then((res) => res.json()) // Transform the data into json
        .then((data) => { // Here you get the data to modify as you please
          localStorage.setItem("user_id", data.id);
          localStorage.setItem("token",data.token);
          localStorage.setItem("email",data.email);
          
          if (data.id == undefined) alert("Username o password errati");
          else{
            location.assign("https://univents-trento.herokuapp.com/home");
          }
        })
        .catch(error => console.error(error)); // If there is any error you will catch them here

    };
  </script>

  <%- include('../footer') -%>