<%- include('../header') -%>

<h1><%= title %></h1>

<div id="home">
    <li>
      <a href="/comunita_studenti">Comunità studenti</a>
    </li>
  <li>
      <a href="/universita">Università</a>
    </li>
    <li>
      <a href="/impostazioni">Impostazioni</a>
    </li>
</div>

<%- include('../footer') -%>
