<%- include('../header') -%>

<header style="margin-top: 0px;">
  <div style="position:fixed; background-color: #B10B25; width:100%; height: 200px; top:0px; left:0px; z-index: 1;">
    <img src="/images/sigillo_universita/ti_200x200.png" width="140" height="140"  alt="univents_logo" 
    style="position:fixed; top:10px; left:20px;">
    <font face="Helvetica Neue" color="white" style="font-size:40px; position:fixed; top: 150px; left:15px;">
      <b>Univents</b>
    </font>
    <div style="width:100%; height:200px; text-align: center; display:table;">
      <font face="Helvetica Neue" color="white" style="display:table-cell; font-size:60px;  vertical-align: middle;">
        Home
      </font>
    </div>

    <a href="/impostazioni" style="text-decoration:none; position:fixed; right:2%; top:100px;">
      <font face="Helvetica neue" size="5" color=white >
        Impostazioni
      </font>
    </a>
  </div>
</header>


  <td>
    <a href="/home" style="text-decoration: none;">
      <font face="Helvetica" size="5" color=black>
        <%= title %><br>
      </font>
    </a>
  </td>

  <td>
    _<br>
  </td>

  <td>
    <a href="/comunita_studenti" style="text-decoration:none">
      <font face="Helvetica" size="5" color=black>
        Comunità Studenti<br>
      </font>
    </a>
  </td>

  <td>
    _<br>
  </td>

  <td>
    <a href="/universita" style="text-decoration:none">
      <font face="Helvetica" size="5" color=black>
        Università
      </font>
    </a>
  </td>



<%- include('../footer') -%>
