<%- include('../header') -%>

<h1>Impostazioni</h1>

<div id="impostazioni">
<!-- logout non funzionante -->
    <form method="get" action="/logout">
        <p>
            <input type="submit" value="Logout">
        </p>
    </form>
  <li>
    <a href="/home">Home</a>
  </li>
  <li>
    <a href="/comunita_studenti">Comunità Studenti</a>
  </li>
  <li>
    <a href="/universita">Università</a>
  </li>
</div>

<%- include('../footer') -%>
